<div class="container">
	<h1>store-list<br>login</h1>
	<form>
		<input type="email" id="input-email" class="form-control" placeholder="E-Mail Address" required autofocus ng-model="user.email">
		<input type="password" id="input-password" class="form-control" placeholder="Password" required ng-model="user.password"><br>
		<button type="submit" id="login-button" class="btn btn-warning" ng-click="login()">LOGIN</button>
	</form>
    <footer class="login-footer"><a class="footer-link" href="mailto:odie_de_moura@hotmail.com?subject=Request For A costco-run Login&body=Name: %0D%0AE-Mail Address:%20" target="_top">Request Login</a><br><a class="footer-link" href="mailto:odie_de_moura@hotmail.com?subject=Forgot costco-run Login&body=My E-Mail Address is:%20" target="_top">Forgot Password</a><br><br></footer>
</div>
